---
layout: default
permalink: /travel-writing/
---

<h1>Travel Writing</h1>

<ul class="documents">
    {% for item in site.data.travel-writing %}
    <li class="document">
        <h3 class="title">
            {{ item.title }}
            {{ item.subtitle }}
        </h3>
        {% if item.synopsis %}
        <p class="synopsis">{{ item.synopsis }}</p>
        {% endif %}        
        <ul class="details">
            {% for detail in item.details %}
            <li class="detail">{{ detail | markdownify }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

