---
layout: default
title: Film & TV
permalink: /film-television/
index: 3
---

<h1>Film & Television</h1>

<ul class="documents">
    {% for item in site.data.film-television %}
    <li class="document">
        <h3 class="title">
            {{ item.title }}
            {% if item.subtitle %}
            – {{ item.subtitle }}
            {% endif %}
            {% if item.year %}
            ({{ item.year }})
            {% endif %}
        </h3>
        {% if item.role %}
        <h4 class="role">{{ item.role }}</h4>
        {% endif %}
        <p class="synopsis">{{ item.synopsis }}</p>
        <ul class="details">
            {% for detail in item.details %}
            <li class="detail">{{ detail | markdownify }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
